<div class="float-right m-t-lg">
    <a class="btn btn-primary" mvc-action="@Mvc.Company.User_Invite">+ Invite user</a>
    @*<a class="btn btn-default" mvc-action="@Mvc.Company.User_Import">+ Import users</a>*@
</div>

