@model ChangeAccountRoleModel
@using (Html.BeginFormCustom(Mvc.Company.User_ChangeRole))
{
    <div class="modal-body">
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            @await Html.FieldTemplateForAsync(model => model.Role, options: new TemplateOptions { Template = FieldTemplateLayouts.ModalField }, fieldOptions: new SelectFieldTemplateOptions { SelectList = Model.RoleList })
        </div>

    </div>
    <div class="modal-footer">
        @await Html.ButtonSubmitAsync("Submit")
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
}
<script>
    $('#@Mvc.Company.User_ChangeRole.GetFormId()').ajaxForm({ target: '#@Mvc.Company.User_ChangeRole.GetModalId()_content' });    
</script>
