@model ResetPasswordViewModel
@using (Html.BeginFormCustom(Mvc.Company.User_ResetPassword))
{
    <div class="modal-body">
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.Token)

        @if (Model.Success)
        {
            <div class="alert alert-success">
                Password was successfully reset.
            </div>
        }
        else
        {
            @await Html.FieldTemplateForAsync(m => m.NewPassword, options: new TemplateOptions { Template = FieldTemplateLayouts.ModalField }, fieldOptions: new FieldTemplateOptions { HtmlAttributes = new { autofocus = "autofocus" } })
            @await Html.FieldTemplateForAsync(m => m.ConfirmPassword, options: new TemplateOptions { Template = FieldTemplateLayouts.ModalField })
        }
    </div>
    <div class="modal-footer">
        @await Html.ButtonSubmitAsync("Submit")
        @await Html.ButtonAsync(FieldTemplateHelper.ButtonModalDismissOptions)
    </div>
}
<script>
    $('#@Mvc.Company.User_ResetPassword.GetFormId()').ajaxForm({ target: '#@Mvc.Company.User_ResetPassword.GetModalId()_content' });    
</script>
