@model UsersViewModel
@await Html.PartialAsync("Layout/_Breadcrumb", new BreadcrumbOptions { Partial = "_InviteUser" })
@using (await Html.ContainerTemplateAsync(TemplateTypes.PageContainerTop))
{
    @await Html.TemplateAsync(TemplateTypes.PageMessage)
    <div class="row">
        <div class="col-lg-12">

            <box>
                <box-content>
                    <box-title>List of Users</box-title>
                    <form role="form" class="form-inline m-b-md">
                        <div class="form-group m-r-lg">
                            @await Html.FieldTemplateInnerForAsync(m => m.Role, fieldOptions:  new SelectFieldTemplateOptions { SelectList = Model.RoleList })
                        </div>
                        <div class="form-group">
                            @await Html.FieldTemplateInnerForAsync(m => m.Status)
                        </div>
                        <div class="ml-auto">
                            <div class="form-group">
                                @await Html.FieldTemplateInnerForAsync(m => m.Search)
                            </div>
                        </div>
                    </form>

                    <table-default class="js-users-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Last login</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                    </table-default>
                </box-content>
            </box>

        </div>
    </div>
}
@section Scripts {
    <script>
        $(function () {

            table = $('.js-users-table').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Mvc.Company.User_ListData.Url(this.Url)",
                    "type": "POST"
                },
                "columns": [
                    { "data": "firstName", "orderable": true },
                    { "data": "lastName", "orderable": true },
                    {
                        "data": "email",
                        "orderable": true,
                        render: function (data, type, row) {
                            return '<a href="@Mvc.Company.User_Detail.Url(this.Url)/{0}">{1}</a>'.format(row.parent == null ? row.id : row.parent.id, row.parent == null ? row.email : row.parent.name + ' (Parent)');
                        }
                    },
                    { "data": "role", "orderable": false },
                    {
                        "data": "status",
                        "orderable": false,
                        render: function (data, type, row) {
                            return '<span class="label label-{0}">{1}</span>'.format(row.status == '@UserStatus.Activated' ? "success" : "warning", row.status);
                        }
                    },
                    { "data": "lastLoginOn", "orderable": true },
                    {
                        "orderable": false,
                        "data": null,
                        render: function ( data, type, row ) {
                            return '<a href="@Mvc.Company.User_Detail.Url(this.Url)/{0}">View</a>'.format(data.id);
                        }
                    },
                ],
                dom: 'Tgtip',
                "iDisplayLength": 50
            });

            $('#Search').on('keyup', function () {
                SearchTable();
            });

            $('#Role,#Status').on('change', function () {
                SearchTable();
            });

            SearchTable();


        });

       function SearchTable() {
            var api = table.api();

            if ($('#Role').val() != '') {
                api.column(3).search($('#Role').val(), false, false, false);
            } else {
                api.column(3).search('');
            }

            if ($('#Status').val() != '') {
                api.column(4).search($('#Status').val(), false, false, false);
            } else {
                api.column(4).search('');
            }

            api.search($('#Search').val());

            api.draw();
        }
    </script>
}