@*
@await Html.PartialAsync("Layout/_Modal", new ModalViewModel { Menu = Mvc.Root.Account_Unlink, Title = "Unlink account" })
@await Html.PartialAsync("Layout/_Modal", new ModalViewModel { Menu = Mvc.Root.Transactions_Category }) //No default modal header generated 
*@
@model ModalViewModel
<div class="modal inmodal fade" id="@Model.Menu.GetModalId()" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-@(Model.Size.GetData<string>("Css"))">
        <div class="modal-content">
            @if (!String.IsNullOrEmpty(Model.Title))
            {
                <div class="modal-header">
                    <h5 class="modal-title">@Model.Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            }
            <div id="@Model.Menu.GetModalId()_content"></div>
        </div>
    </div>
</div>