<script id="js-confirmation-template" type="text/x-handlebars-template">
    <div style="padding:25px;">
        <p style="font-size:medium">@("{{Confirmation}}")</p>
        <div class="m-t-sm">            
            <a href="javascript:void(0);" class="btn btn-default ladda-button js-ladda-button" onclick="@("{{YesAction}}")" style="min-width:60px; margin-right:5px" data-style="expand-right" data-spinner-color="#FF7043"><span class="ladda-label">Yes</span></a>
            &nbsp;<a class="btn btn-default" href="javascript:void(0);" data-dismiss="modal" style="min-width:60px; margin-right:5px">No</a>
        </div>
    </div>
</script>