@if(this.Context.Request.IsAjaxRequest()) 
{ 
    Layout = null; 
}
<div>
    <h2>Sorry, an error occurred while processing your request.</h2>
    <p>The error has been recorded in our logs for diagnostics. Please contact us to help solve the problem quickly.</p>
</div>