body {
  // change menu background color here :(
  background-color: $navy;
}

//change default font-weight from 100 to 300
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.validation-summary-errors {
    background-color: rgb(255, 95, 95);
}

.error .form-control {
    border: 1px solid rgb(255, 95, 95);
}

.error label {
    color:  rgb(255, 95, 95);
}

.field-validation-error {
    color: red;
}

.validation-summary-errors .close {
    color: white;
    opacity: 1;
}

.validation-summary-errors ul {
    color: white;
    opacity: 1;
}

.loginscreen .validation-summary-errors ul {
    padding-left: 0px;
    text-align: left;
}

.validation-summary-valid {
    display: none;
}

.dataTables_filter input[type='search'] {
    margin-right: 8px;
    margin-left: 8px;
}

table.dataTable thead .sorting_disabled {
    background-color: transparent;
}

div.dataTables_info {
    float: left;
}

div.dataTables_paginate {
    float: right;
}

.mandatory::before {
    content: '* ';
    color: red;
    font-size: 12px;
}

label > small {
    font-weight: normal;
}

.image-preview {
    border: 1px solid #d9dada;
    display: inline-block;
    max-width: 100%;
}

.note-editor.note-frame {
    border: 1px solid #e5e6e7;
}

.note-editor{
   min-height: inherit;
}

.clearfix {
    clear: both;
}

.ibox-title-help {
    font-weight : normal;
    margin-left: 5px;
    font-size: 12px;
}

.help-text {
    font-size: 12px;
    font-weight : normal;
}

/*For google address in modals*/
.pac-container {
    z-index: 9999 !important;
}

// Move page header to be flush with Left hand side of ibox
.page-heading{
    padding-left: 0;
}

// Changed Colour of links in table
.table{
    a{
        color: $table-link-color;
    }
}

// Primary Button
.btn-primary {
    background-color: $primary-btn-bg;
    border-color: $primary-btn-bg;
    &:hover, &:active, &:focus, &:active:focus{
        background: $primary-btn-bg-hover;
        border-color: $primary-btn-bg-hover;
    }
}

.btn-primary.btn[disabled] {
    background-color: lighten($primary-btn-bg, 20%);
    border-color: lighten($primary-btn-bg, 20%);
}

// Modified Form Control Focus Border
.form-control:focus, .single-line:focus {
     border-color: $field-focus-color !important; 
}

// Fix override
.form-control-lg {
    font-size:1.15rem;
}

form label {
    font-weight: bold;
}

@media (min-width: 768px) {
        .form-group.row .col-form-label {
        text-align: right;
    } 
}

//Fix override
.btn-group-lg > .btn, .btn-lg {
    font-size:1.15rem;
}

//So ibox stands out when in a tab (white on white)
.ibox {
    border: 1px solid #eeeeee;
}

.ibox-title {
    //Reset padding back to 15, 2.9.2 sets to 90px
    padding-right: 15px;
    h5 {
        // Modify colour of Header in ibox
        color: $heading-ibox;
    }
}

// Modify Label Sizes
.label, .ibox-title .label {
    font-size: $label-font-size;
}

//Remove spinners from number fields
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

//Display inline with logo
.navbar-header h2 {
    display: inline;
    position: relative;
    top: 5px;
}

.nav > li.active {
    border-left: 4px solid $nav-active-border;
}

//Missing in inspinia update from 2.4 to 2.9.2
.navbar-top-links li:last-child {
    margin-right: 40px;
}

//To show $nav-profil-pattern when not authenticated
.nav-header {
    min-height: 155px;
}

//Fix chosen single deselect
.chosen-container-single .chosen-single {
    cursor: inherit;
}
.chosen-container-single .chosen-single abbr {
    top: 10px;
    cursor: pointer;
}

.chosen-container-multi .chosen-choices {
    border: 1px solid #e5e6e7;
    height: 34px;
    padding: 2px 2px 2px 10px;
    background-image: none;
}

//Breadcrumb styling
.breadcrumb > li {
  color: #A7B1C2;
  font-weight: 600;
}
.breadcrumb > li a:hover {
  color: $text-color;
}

img.circle-border-sm {
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

a {
    color: $link-color;

    &:hover,
    &:focus {
        color: $link-hover-color;
    }
}

//select2 same size as normal form fields
/*.form-control, .single-line, .select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 36px !important;
    line-height: 36px !important;
}*/

select.form-control:not([size]):not([multiple]) {
    height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
}

//make checkbox aligned with label
.checkbox.i-checks {
    padding-top: 7px;
}
