<div class="float-right">
    <a class="btn btn-sm btn-primary" mvc-action="@Mvc.Admin.Company_Edit"><span class="pe-2"><i class="bi bi-plus-square-dotted"></i> </span><span>Create</span></a>
</div>

