@model CompanyDetailViewModel
@using (Html.BeginFormCustom(Mvc.Admin.Company_Admin_Add, htmlAttributes: new { @class = "form-horizontal", enctype = "multipart/form-data", autocomplete = "off" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.Id)
    @await Html.FieldTemplateForAsync(m => m.Admin.Email)
    @await Html.FieldTemplateForAsync(m => m.Admin.FirstName)
    @await Html.FieldTemplateForAsync(m => m.Admin.LastName)
    using (await Html.FieldTemplateOuterForAsync(m => m.Id, options: new TemplateOptions { Label = "" }))
    {
        @await Html.ButtonSubmitAsync("Save")
        <button type="button" class="btn btn-default js-user-cancel">Cancel</button>
    }
}
@if (Context.Request.IsAjaxRequest())
{
    <script>
        SetupUserForm();
        SearchTable(userTable);
    </script>
}
