@model CompanyDetailViewModel
@{ 
    var archiveOrDelete = Model.IsDeleted ? "unarchive" : Model.HasAdmins ? "archive" : "delete";
}
@using (Html.BeginFormCustom(Mvc.Admin.Company_Delete, htmlAttributes: new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="modal-body">
        @Html.ValidationSummary()
        <p>Are you sure you want @archiveOrDelete the Company <b>@Model.Name?</b></p>
    </div>
    <div class="modal-footer">
        @await Html.ButtonSubmitAsync(new Template_Button { Style = ButtonStyle.Danger, Text = $"Yes, {archiveOrDelete} this Company" })
        @await Html.ButtonAsync(FieldTemplateHelper.ButtonModalDismissOptions)
    </div>
}
<script>
    $('#@Mvc.Admin.Company_Delete.GetFormId()').ajaxForm({ target: '#@Mvc.Admin.Company_Delete.GetModalId()_content' });
</script>