<div class="float-right">
    <a class="btn btn-primary btn-sm" mvc-action="@Mvc.Admin.User_Invite"><span class="pe-2"><i class="bi bi-plus-square-dotted"></i> </span><span>Invite</span></a>
@*    <a class="btn btn-neutral btn-sm" mvc-action="@Mvc.Admin.User_Import"><span class="pe-2"><i class="bi bi-plus-square-dotted"></i> </span><span>Import</span></a>*@
</div>

