@model UserActivityViewModel
<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" class="table table-striped">
    <tr>
        <td>Entity:</td>
        <td>@Model.EntityDescription</td>
    </tr>
    @if (Model.TargetId.HasValue)
    {
        <tr>
            <td>Target:</td>
            <td>@Model.TargetDescription</td>
        </tr>
    }
    @if (Model.JsonData != null)
    {
        var items = Model.JsonData.FromJson<Dictionary<string, string>>();
        foreach (var item in items)
        {
            <tr>
                <td>@item.Key:</td>
                <td>@item.Value</td>
            </tr>
        }
    }
</table>