@model UserActivityViewModel
<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" class="table table-striped">
    <tr>
        <td>Entity:</td>
        <td>@Model.EntityDescription</td>
    </tr>
    <tr>
        <td>Target:</td>
        <td>@Model.TargetDescription</td>
    </tr> 
</table>