@model ChangeUserStatusModel
@using (Html.BeginFormCustom(Mvc.Admin.User_ChangeStatus))
{
    <div class="modal-body">
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            @await Html.FieldTemplateForAsync(model => model.Status, options: new TemplateOptions { Template = FieldTemplateLayouts.ModalField }, fieldOptions: new SelectFieldTemplateOptions { SelectList = Model.StatusList })
        </div>

    </div>
    <div class="modal-footer">
        @await Html.ButtonSubmitAsync("Submit")
        @await Html.ButtonAsync(FieldTemplateHelper.ButtonModalDismissOptions)
    </div>
}
<script>
    $('#@Mvc.Admin.User_ChangeStatus.GetFormId()').ajaxForm({ target: '#@Mvc.Admin.User_ChangeStatus.GetModalId()_content' });
</script>
