@model EmailListModel
@await Html.PartialAsync("Layout/_PageHeader", new PageHeaderOptions { Partial = "_Email" })

<page>
    @await Html.TemplateAsync(TemplateTypes.PageMessage)

    <filter>
        <filter-left>
            @await Html.FieldDateRangeForAsync(m => m.DateFrom, m => m.DateTo, x => x == null ? null : x.Value.ToTimezone().ToIsoDate())
        </filter-left>
    </filter>
    <filter>
        <filter-left>
            @await Html.FieldTemplateInnerForAsync(m => m.Template, fieldOptions: new SelectFieldTemplateOptions { SelectList = Model.TemplateList })
            @await Html.FieldTemplateInnerForAsync(m => m.Opened, fieldOptions: new SelectFieldTemplateOptions { SelectList = Model.OpenedList })
            @await Html.FieldTemplateInnerForAsync(m => m.Clicked, fieldOptions: new SelectFieldTemplateOptions { SelectList = Model.ClickedList })
        </filter-left>
        <filter-right>
            @await Html.FieldTemplateInnerForAsync(m => m.Search, fieldOptions: new InputFieldTemplateOptions { PreAddOn = FieldTemplateOptions.IconAddOn("search") })
        </filter-right>
    </filter>

    <box>
        <box-content>
            <table-default class="js-emails-table">
                <thead class="table-light">
                    <tr>
                        <th>Date</th>
                        <th>Recipient</th>
                        <th>Template</th>
                        <th>Sent</th>
                        <th>Opened</th>
                        <th>Clicked</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table-default>
        </box-content>
    </box>
</page>
@section Scripts
{
    <script>
        var table, emailId;

        $(function () {
            $('.input-daterange').datepicker({
                format: 'yyyy-mm-dd',
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            }).on('changeDate', function (ev) {
                SearchTable();
            });

            table = $('.js-emails-table').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Mvc.Admin.User_EmailsQuery.Url(this.Url)",
                    "type": "POST",
                    "data": function ( d ) {
                        d.dateFrom = $('#DateFrom').val();
                        d.dateTo = $('#DateTo').val();
                    }
                },
                "order": [[ 0, "desc" ]],
                "columns": [
                    { "data": "dateQueuedDisplay" },
                    { "data": "recipient" },
                    {
                        "data": "templateId",
                        "orderable": false
                    },
                    { "data": "isSent" },
                    {
                        "data": "isOpened",
                        "orderable": false
                    },
                    {
                        "data": "isClicked",
                        "orderable": false
                    },
                    {
                        "orderable": false,
                        "data": null,
                        render: function ( data, type, row ) {
                            if (!data.isDeleted && data.isSent) {
                                return '<a href="#" data-id="{0}" class="js-email-view btn btn-sm btn-square btn-neutral" data-bs-toggle="tooltip" data-bs-original-title="View"><i class="bi bi-eye"></i></a>'.format(data.id);
                            }
                            return '';
                        }
                    },
                ],
                "iDisplayLength": 50,
                dom: 'Tgtip'
            });

            $('#Search').on('keyup', function () {
                SearchTable();
            });

            $('#Template, #Opened, #Clicked').on('change', function () {
                SearchTable();
            });

            $('.js-emails-table').on('click', '.js-email-view', function () {
                emailId = $(this).data('id');
                @Html.ModalOpen(Mvc.Admin.User_EmailsDetail, data: "{ id: emailId }");
            });

        });

        function SearchTable() {
            var api = table.api();

            api.search($('#Search').val());

            if ($('#Template').val() != '') {
                api.column(2).search($('#Template').val(), false, false, false);
            } else {
                api.column(2).search('');
            }

            if ($('#Opened').val() != '') {
                api.column(4).search($('#Opened').val(), false, false, false);
            } else {
                api.column(4).search('');
            }

            if ($('#Clicked').val() != '') {
                api.column(5).search($('#Clicked').val(), false, false, false);
            } else {
                api.column(5).search('');
            }

            api.draw();
        }

    </script>
}
@section modal    
{
    @await Html.PartialAsync("Layout/_Modal", new ModalViewModel { Menu = Mvc.Admin.User_EmailsDetail, Title = "Email", Size = ModalSize.Large })
}
