@await Html.PartialAsync("Layout/_Breadcrumb", new BreadcrumbOptions())
@await Html.TemplateAsync(TemplateTypes.PageMessage)
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Emails</h5>
                    <div class="ibox-tools">
                        @await Html.ButtonAsync(Mvc.Admin.User_EmailsPreview, new Template_Button { Text = "Preview", Style = ButtonStyle.Default, HtmlAttributes = new { @class = "btn-sm m-t-n-xs" } })
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Date range</label>
                                <div class="input-daterange input-group">
                                    <input type="text" class="input-sm form-control" id="DateFrom" value="@DateTime.UtcNow.Date.ToTimezone().AddDays(-7).ToIsoDate()" />
                                    <span class="input-group-addon">to</span>
                                    <input type="text" class="input-sm form-control" id="DateTo" value="@DateTime.UtcNow.Date.ToTimezone().ToIsoDate()" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover js-emails-table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Recipient</th>
                                    <th class="filtersearch" data-all="All templates">Template</th>
                                    <th>Sent</th>
                                    <th class="filtersearch" data-all="All">Opened</th>
                                    <th class="filtersearch" data-all="All">Clicked</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        var emailId;

        $(function () {
            $('.input-daterange').datepicker({
                format: 'yyyy-mm-dd',
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            }).on('changeDate', function (ev) {
                $('.js-emails-table').DataTable().draw();
            });

            var table = $('.js-emails-table').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Mvc.Admin.User_EmailsQuery.Url(this.Url)",
                    "type": "POST",
                    "data": function ( d ) {
                        d.dateFrom = $('#DateFrom').val();
                        d.dateTo = $('#DateTo').val();
                    }
                },
                "order": [[ 0, "desc" ]],
                "columns": [
                    { "data": "dateQueuedDisplay" },
                    { "data": "recipient" },
                    {
                        "data": "templateId",
                        "orderable": false
                    },
                    { "data": "isSent" },
                    {
                        "data": "isOpened",
                        "orderable": false
                    },
                    {
                        "data": "isClicked",
                        "orderable": false
                    },
                    {
                        "orderable": false,
                        "data": null,
                        render: function ( data, type, row ) {
                            if (!data.isDeleted && data.isSent) {
                                return '<a href="#" class="js-email-view" data-id="{0}">View</a>'.format(data.id);
                            }
                            return '';
                        }
                    },
                ],
                "iDisplayLength": 50,
                dom: 'Tgftip',
                buttons: [
                        { extend: 'csv', exportOptions: { columns: [0, 1, 2, 3, 4, 5] } },
                        { extend: 'excel', title: 'Emails', exportOptions: { columns: [0, 1, 2, 3, 4, 5] } }
                ],
                initComplete: function () {
                    var api = this.api();
                    this.api().columns('.filtersearch').indexes().flatten().each(function (i) {
                        var column = api.column(i);
                        var select = $('<select class="form-control"><option selected disabled>' + $(column.header()).text() + '</option></select>')
                            .appendTo($(column.header()).empty())
                            .on('change', function () {
                                column
                                    .search($(this).val(), false, false)
                                    .draw();
                            });
                        select.append('<option value="">' + $(column.header()).data('all') + '</option>');
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });

            $('.js-emails-table').on('click', '.js-email-view', function () {
                emailId = $(this).data('id');
                @Html.ModalOpen(Mvc.Admin.User_EmailsDetail, data: "{ id: emailId }");
            });

        });


    </script>
}
@section modal    
{
    @await Html.PartialAsync("Layout/_Modal", new ModalViewModel { Menu = Mvc.Admin.User_EmailsDetail, Title = "Email", Size = ModalSize.Large })
}
