@using Newtonsoft.Json;
@model PushNotificationDetailModel
@{
    Layout = null;
    dynamic parsedJson = JsonConvert.DeserializeObject(Model.Message);
    var formattedJson = JsonConvert.SerializeObject(parsedJson, Formatting.Indented);
}
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>@Model.MessageId</b>
        </div>
        <div class="panel-body">
            <pre>
                @formattedJson
            </pre>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-neutral" data-bs-dismiss="modal">Close</button>
</div>
