@await Html.PartialAsync("Layout/_PageHeader", new PageHeaderOptions())
@await Html.TemplateAsync(TemplateTypes.PageMessage)
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Notifications</h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Date range</label>
                                <div class="input-daterange input-group">
                                    <input type="text" class="input-sm form-control" id="DateFrom" value="@DateTime.UtcNow.Date.ToTimezone("Australia/Sydney").AddDays(-7).ToIsoDate()" />
                                    <span class="input-group-text">to</span>
                                    <input type="text" class="input-sm form-control" id="DateTo" value="@DateTime.UtcNow.Date.ToTimezone("Australia/Sydney").ToIsoDate()" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover js-notifications-table">
                            <thead class="table-light">
                                <tr>
                                    <th>Date</th>
                                    <th>Recipient</th>
                                    <th class="filtersearch" data-all="All types">Type</th>
                                    <th>Status</th>
                                    <th class="filtersearch" data-all="All">Sent</th>
                                    <th class="filtersearch" data-all="All">Opened</th>
                                    <th>Error</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        var notificationId;

        $(function () {
            $('.input-daterange').datepicker({
                format: 'yyyy-mm-dd',
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            }).on('changeDate', function (ev) {
                $('.js-notifications-table').DataTable().draw();
            });

            var table = $('.js-notifications-table').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Mvc.Admin.User_Notification_Query.Url(this.Url)",
                    "data": function ( d ) {
                        d.dateFrom = $('#DateFrom').val();
                        d.dateTo = $('#DateTo').val();
                    }
                },
                "columns": [
                    { "data": "createdOnDisplay" },
                    { "data": "recipient" },
                    {
                        "data": "type",
                        "orderable": false
                    },
                    {
                        "data": "status",
                        "orderable": false
                    },
                    {
                        "data": "isSent",
                        "orderable": false
                    },
                    {
                        "data": "isOpened",
                        "orderable": false
                    },
                    {
                        "data": "error",
                        "orderable": false
                    },
                    {
                        "orderable": false,
                        "data": null,
                        render: function ( data, type, row ) {
                            return '<a href="#" class="js-view" data-id="{0}">View</a>'.format(data.id);
                        }
                    },
                ],
                "iDisplayLength": 50,
                dom: 'Tgftip',
                initComplete: function () {
                    var api = this.api();
                    this.api().columns('.filtersearch').indexes().flatten().each(function (i) {
                        var column = api.column(i);
                        var select = $('<select class="form-control"><option selected disabled>' + $(column.header()).text() + '</option></select>')
                            .appendTo($(column.header()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val, false, false)
                                    .draw();
                            });
                        select.append('<option value="">' + $(column.header()).data('all') + '</option>');
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });

            $('.js-notifications-table').on('click', '.js-view', function () {
                notificationId = $(this).data('id');
                @Html.ModalOpen(Mvc.Admin.User_Notification_Detail, data: "{ id: notificationId }");
            });


        });
    </script>
}
@section modal
{
    @await Html.PartialAsync("Layout/_Modal", new ModalViewModel { Menu = Mvc.Admin.User_Notification_Detail, Title = "Notification detail", Size = ModalSize.Large })
}
