@model ChilliCoreTemplate.Models.EmailAccount.RazorTemplateDataModel<string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Site</title>
</head>
<body>
<div>
</div>
</body>
</html>