@model ChangePasswordViewModel
@using (Html.BeginFormCustom(Mvc.Root.EmailAccount_ChangePassword, htmlAttributes: new { enctype = "multipart/form-data" }))
{
<div class="modal-body">
    @Html.ValidationSummary()
    @await Html.FieldTemplateForAsync(m => m.CurrentPassword, FieldTemplateLayouts.ModalField)
    @using (await Html.FieldTemplateOuterForAsync(m => m.NewPassword, FieldTemplateLayouts.ModalField))
    {
        <div class="input-group">
            @await Html.FieldTemplateInnerForAsync(m => m.NewPassword)
            <span class="input-group-text"><i class="bi bi-eye js-password-mask"> </i></span>
        </div>
    }
</div>
<div class="modal-footer">
    @await Html.ButtonSubmitAsync("Update")
    @await Html.ButtonAsync(FieldTemplateHelper.ButtonModalDismissOptions)
</div>
}
@Html.RenderCustomSection("scripts")
<script>
    $('#@Mvc.Root.EmailAccount_ChangePassword.GetFormId()').ajaxForm({ target: '#@Mvc.Root.EmailAccount_ChangePassword.GetModalId()_content' }).done(function () {
        window.location.reload();
    });

    $('.js-password-mask').click(function () {
        $t = $(this);
        if ($t.hasClass('bi-eye')) {
            $t.removeClass('bi-eye');
            $t.addClass('bi-eye-slash');
            $('#NewPassword').attr('type', 'text');
        } else {
            $t.removeClass('bi-eye-slash');
            $t.addClass('bi-eye');
            $('#NewPassword').attr('type', 'password');
        }
    });

    $('#@Mvc.Root.EmailAccount_ChangePassword.GetFormId()').submit(function () {
        $('#NewPassword').attr('type', 'password');
    });
</script>
