@model ResetPasswordViewModel
<h2 class="mb-10">Set password for @Model.Email</h2>
@using (Html.BeginFormCustom(Mvc.Root.EmailAccount_ConfirmInvite))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Token)
    @Html.HiddenFor(model => model.Email)

    @await Html.FieldTemplateForAsync(m => m.NewPassword, new TemplateOptions { Template = FieldTemplateLayouts.FloatingField }, new InputFieldTemplateOptions { HtmlAttributes = new { autofocus = "autofocus" } })
    @await Html.FieldTemplateForAsync(m => m.ConfirmPassword, FieldTemplateLayouts.FloatingField)

    <div class="d-grid mb-5">
        <button type="submit" class="btn btn-primary">Set my Password</button>
        @await Html.ButtonAsync(Mvc.Root.EmailAccount_Login, new Template_Button { Text = "Cancel", Style = ButtonStyle.Secondary })
    </div>
}
