@model ResetPasswordRequestModel
<h2 class="m-t-md">Forgot password</h2>
<p class="m-b-xl">An email will be sent to your account's email address with a link to choose your new password</p>
@using (Html.BeginFormCustom(Mvc.Root.EmailAccount_ForgotPassword))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @await Html.FieldTemplateInnerForAsync(model => model.Email, htmlAttributes: new { autofocus = "autofocus", @class = "form-control-lg", placeholder = "Your account's email address?" })
    </div>
    <button class="btn btn-primary btn-lg full-width m-b" type="submit">Reset my Password</button>
    <a mvc-action="@Mvc.Root.EmailAccount_Login">Login instead</a>
}