@model ResetPasswordRequestModel
<h3 class="m-t-md">Forgot password</h3>
<div class="alert alert-info">
    <p class="alert">
        An email has been sent to <b>@Model.Email</b> with instructions to set a new password.
    </p>
    <p class="alert">The link in the email will expire in 1 hour.</p>
</div>