@model ResetPasswordRequestModel

<h2 class="mb-4">Forgot password</h2>
<p class="mb-6">An email will be sent to your account's email address with a link to choose your new password</p>
@using (Html.BeginFormCustom(Mvc.Root.EmailAccount_ForgotPassword))
{
    @Html.ValidationSummary()
    @await Html.FieldTemplateForAsync(m => m.Email, new TemplateOptions { Template = FieldTemplateLayouts.FloatingField }, new InputFieldTemplateOptions { HtmlAttributes = new { autofocus = "autofocus" } })

    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Reset my Password</button>
    </div>
    <a mvc-action="@Mvc.Root.EmailAccount_Login">Login instead</a>
}