@model EmailTokenModel
@inject ProjectSettings config
@if (ViewData.ModelState.IsValid)
{
    <h2 class="m-t-xl">Registration Complete</h2>

    <div class="m-t-xl">
        <a mvc-action="@Mvc.Root.EmailAccount_Login.AddRouteValues(new { Email = Model.Email })" class="btn btn-primary btn-lg full-width">Login Now</a>
        <p class="m-t-md">
            & start using @config.ProjectDisplayName
        </p>
    </div>
}
else
{
    <div class="alert alert-warning m-t-xl">
        <h3 class="m-t-xs">Activation failed</h3>
        The activation code has expired or there was an error. Please @Html.ActionLink("login", Mvc.Root.EmailAccount_Login) and a new activation email will be sent to you.
    </div>
}