@model string

<h2>Registration <strong>successful</strong></h2>
<h2>Next steps...</h2>
<p>We have sent a registration email to @Model. Click the link within to complete your online registration.</p>
<p>If you don't receive the email within 5 minutes, check your spam. You can get a registration email resent by signing in.</p>
