@model ResetPasswordViewModel
@{
    var loginUrl = Model.IsApi ? Mvc.Root.EmailAccount_Login : Mvc.Root.EmailAccount_Login;
}

<h2 class="mb-10">Password reset</h2>
<div class="alert alert-info">
    <p class="alert">Your password has been successfully reset.</p>
    <p class="alert"><a mvc-action="@loginUrl.AddRouteValues(new { Email = Model.Email })" title="click here to login" class="alert-link">Click here</a> to login</p>
</div>
