@model string

<h3 class="m-t-md">Password reset</h3>
<div class="alert alert-info">
    <p class="alert">Your password has been successfully reset.</p>
    <p class="alert"><a mvc-action="@Mvc.Root.EmailAccount_Login.AddRouteValues(new { Email = Model })" title="click here to login" class="alert-link">Click here</a> to login</p>
</div>
