@model Template_PageButtons
<div class="row mb-4">
    <div class="col-12">
        <div class="float-end">
            <div class="btn-group">
            @if (Model.ShowButtons.GetValueOrDefault(true))
            {
                <button type="submit" disabled style="display: none" aria-hidden="true"></button> @*Disable enter key submitting form*@
                if (!String.IsNullOrEmpty(Model.SaveMenuText))
                {
                    @await Html.ButtonSubmitAsync(new Template_Button { Text = Model.SaveMenuText, HtmlAttributes = new { @class = "btn-sm"  } })                        
                }
                foreach (var button in Model.Buttons)
                {
                    @button
                }
                if (!String.IsNullOrEmpty(Model.CancelMenuUrl))
                {
                    <button type="button" class="btn btn-sm btn-neutral" onclick="window.location='@Model.CancelMenuUrl'">Cancel</button>
                }
            }
            </div>
        </div>
    </div>
</div>