<div id="page-container" class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-sm">
        <div class="col-lg-12">
            @FieldTemplateModel.InnerTemplateMarker
        </div>
    </div>
</div>