.float-right-not-xs, .float-right-not-sm, .float-right-not-md, .float-right-not-lg{
    float: right;
}

.float-left-not-xs, .float-left-not-sm, .float-left-not-md, .float-left-not-lg{
    float: left;
}
@media (max-width: 767px) {    
    .float-right-not-xs, .float-left-not-xs{
        float: none;
    }
    .float-right-xs {
        float: right;
    }
    .float-left-xs {
        float: left;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .float-right-not-sm, .float-left-not-sm{
        float: none;
    }
    .float-right-sm {
        float: right;
    }
    .float-left-sm {
        float: left;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .float-right-not-md, .float-left-not-md{
        float: none;
    }
    .float-right-md {
        float: right;
    }
    .float-left-md {
        float: left;
    }
}
@media (min-width: 1200px) {
    .float-right-not-lg, .float-left-not-lg{
        float: none;
    }
    .float-right-lg {
        float: right;
    }
    .float-left-lg {
        float: left;
    }
}

@media (min-width: 1600px) {
    .float-right-not-xl, .float-left-not-xl{
        float: none;
    }
    .float-right-xl {
        float: right;
    }
    .float-left-xl {
        float: left;
    }
}