@model ChilliCoreTemplate.IntegrationTests.TestViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Subject</title>
</head>
<body>
<div>
    <span>@Model.Name</span>
    <span>@Model.Description</span>
</div>
</body>
</html>