@model CompanyViewModel
@using (Html.BeginFormCustom(Mvc.Company.Company_Delete, htmlAttributes: new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="modal-body">
        @Html.ValidationSummary()
        <p>Are you sure you want delete the company <b>@Model.Name?</b></p>
    </div>
    <div class="modal-footer">
        @await Html.ButtonSubmitAsync(new Template_Button { Style = ButtonStyle.Danger, Text = "Yes, delete this clinic" })
        @await Html.ButtonAsync(FieldTemplateHelper.ButtonModalDismissOptions)
    </div>
}
<script>
    $('#@Mvc.Company.Company_Delete.GetFormId()').ajaxForm({ target: '#@Mvc.Company.Company_Delete.GetModalId()_content' });
</script>